@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Poppins:wght@200&family=Roboto:ital,wght@0,100;1,300&family=Source+Sans+Pro:wght@200&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    
}
 
:root {
    --main-color: #fa5353;
    --btn-color:rgba(6, 151, 176, 0.731);
    --second-color: #5f3dad;
    --dark-color: #181b2b;
    --light-color: #322f40;
    --text-color: hsl(0, 0%, 91%);
}
::selection {
    color: var(--text-color);
    background-color: var(--main-color);
}
section{
    padding: 4rem 0 3rem;
}
img {
    width: 100%;
}

body {
    color: var(--text-color);
    background-color: var(--dark-color);
}
.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark-color);
    z-index: 100;
    
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
    
}
.logo {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0 auto 0 0;
    text-transform: uppercase;
    
}
.logo span {
    color: var(--main-color);
    
}
.nav-icons {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    margin: 10px 0;
    display: flex; 
    align-items: center; 
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    margin-left: 8px; 
  }
  
  .navbar i {
    font-size: 16px; 
    
  }
  
 
  .navbar a:hover {
    color: #1e90ff;
  }
  

.nav-icons .bx {
    font-size: 20px;
    height: 44px;
    width: 44px;
    display: grid;
    place-items: center;
    color: var(--text-color);
    background-color: var(--light-color);
    border-radius: 50%;
    cursor: pointer;
}

.menu-checkbox {
    display: none;
  }
  
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 44px; 
    width: 44px; 
    background-color: var(--light-color);
    border-radius: 50%;
    cursor: pointer;
    gap: 5px;
    transition: transform 0.3s ease;
  }
  

  .menu-icon div {
    width: 20px; 
    height: 2px;
    background-color: var(--text-color);
    transition: 0.3s ease;
  }
  .menu {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    transform: translateX(-60px);
    
  }
  
  .menu li {
    width: 150px;
    list-style: none;
    position: relative;
    align-items: center;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    transition: all 0.5s;
  }
  
  .menu a:hover {
    background: #808291;
  }
  
  
  .menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 0;
    background: #383c54;
    width: 100%; 
    z-index: 10;
  }
  
  .menu li:hover > ul {
    display: block;
  }
  
  
  @media (max-width: 768px) {
    .menu {
      flex-direction: column; 
      position: relative;
    }
  
    .menu li {
      width: 100%; 
    }
  
  
    .menu ul {
      position: relative;
      top: 0;
      left: 0;
      display: none; 
      background: #383c54;
      z-index: 1;
    }
  
    .menu li:hover > ul {
      display: block; 
    }
  }
  


.sidebar {
    position: fixed;
    top: 80px; 
    right: -250px;
    height: calc(100% - 80px); 
    width: 250px;
    background-color: var(--dark-color);
    color: var(--text-color);
    padding: 20px;
    transition: 0.3s;
    z-index: 999; 
  }
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
    display: flex;
    justify-content: flex-start;
    gap:12px;
}
  
  .sidebar ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    display: none; 
    z-index: 998; 
    cursor: pointer;
}
.sidebar ul li a:hover {
    color: var(--main-color);
  }

.menu-checkbox:checked ~ .overlay {
    display: block; 
}
  
.menu-checkbox:checked ~ .sidebar {
    right: 0; 
}

.menu-checkbox:checked + .menu-icon .line1 {
    transform: rotate(45deg) translate(5px, 5px);
} 
.menu-checkbox:checked + .menu-icon .line2 {
    opacity: 0; 
}
.menu-checkbox:checked + .menu-icon .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
}

  
  .search-form {
    display: flex;
    align-items: center;
    margin-bottom: 15px; 
    padding: 5px; 
    background-color: #333; 
    border-radius: 6px; 
    width: 100%; 
    box-sizing: border-box; 
  }
  
  .search-input {
    flex: 1; 
    padding: 5px; 
    border: 1px solid #555; 
    border-radius: 4px; 
    outline: none;
    font-size: 12px; 
    background-color: #222; 
    color: var(--text-color); 
    height: 30px; 
  }
  
  .search-btn {
    background-color:#333; 
    border: none;
    cursor: pointer;
    font-size: 10px; 
    height: 30px;
    margin-left: 8px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-btn i {
    transform: scale(0.8); 
    font-size: 10px; 
  }
  
  .share-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1000;
  }

video-container video {
    width: 100%;
    aspect-ratio: 16/9;
}

.video-container {
    margin-top: 2rem;
    cursor: pointer;
    user-select: none;
}

.about-icon {
    width: 20px;
    text-align: center;
    margin-right: 10px;
    height: 24px;
}

.about h2 {
    font-size: 1.4rem;
    display: inline-flex;
    font-weight: 500;
    border-bottom: 4px solid var(--main-color);
    margin: 1.6rem 0;
    text-transform: uppercase;
}

.about {
    margin-top: 2rem;
}

.about p {
    margin-top: 1rem;
    font-size: 0.938rem;
    text-align: justify;
}

.screenshots h2 {
    font-size: 1.4rem;
    display: inline-flex;
    font-weight: 500;
    border-bottom: 4px solid var(--main-color);
    margin: 1.6rem 0;
    text-transform: uppercase;
}

.screenshots-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 10px;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    width: 100%;
}

.screenshots-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.download {
    max-width: 800px;
    margin: auto;
    width: 100%;
    display: grid;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
}

.download h2 {
    font-size: 1.4rem;
    display: inline-flex;
    font-weight: 500;
    margin: 1.6rem 0;
    text-transform: uppercase;
    margin-left: 150px;
}

.game-heading {
    display: inline-flex;
    margin-left: 9rem;
    user-select: none;
    cursor: text;
}

.game-heading h1 {
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Games', sans-serif;
    color: var(--text-color);
}

.game-heading .s-icon {
    margin-top: 7rem;
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

.download .bx {
    margin-right: 10px;
    font-size: 1.4rem;
    color: var(--light-color);
}

.download-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 2rem;
}

.download-links a {
    text-align: center;
    background-color: var(--main-color);
    padding: 12px 20px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Games', sans-serif;
    display: flex;

}

.download-links a:hover,
.download-links a:focus {
    background-color: var(--light-color);
    transition: 0.3s all linear;
}

.download-links .bx {
    text-align: center;
    color: var(--text-color);
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    user-select: none;
  }
  
  .copyright p {
    font-size: 0.9rem;
    color: var(--text-color);
  }
  .copyright .link {
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
  }


@media (min-width: 1080px) {
    .container {
        margin: 0 auto;
        width: 90%;
    }

    .nav {
        padding: 10px 0;
    }

    .notification {
        right: 4rem;
    }

    .menu img {
        width: 500px;
    }

    section {
        padding: 3rem 0 2rem;
    }

    .home {
        margin-top: 4rem !important;
        min-height: 440px;
    }

    .home img {
        border-radius: 1px;
    }

    .new-content {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));

    }

    .video-container {
        margin-top: 5rem !important;
    }

    .game-heading {
        text-align: center;
        justify-content: center;
    }

}

/* For Medium Devices */
@media (max-width: 774px) {
    .notification {
        right: 1rem;
    }

    .logo:hover,
    .logo:focus {
        transform: none;
    }

    .menu img {
        width: 400px;
    }

    .home {
        min-height: 300px;
    }

    .btn {
        padding: 12px 7px;
    }

    .screenshots-content {
        grid-template-columns: repeat(auto-fit, minmax(250, 300px));
    }

    .about {
        justify-content: center;
        text-align: center;
    }

    .screenshots h2 {
        margin-left: 10px;
    }

    .download-links {
        grid-template-columns: 1fr;
        margin-top: 2rem;
    }

    .download h2 {
        margin: 0;
    }

    .download-links a {

        text-align: center;
        justify-content: center;
    }

    .up-page {
        display: none;
    }

    .heading h2 {
        text-align: center;
        padding: 10px;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .menu img {
        display: none;
    }

    .menu {
        justify-content: flex-end;
    }

    .nav {
        padding: 8px 0;
    }

    .nav-icons .bx,
    .menu-icon {
        height: 40px;
        width: 40px;
    }

    .download-links {
        grid-template-columns: 1fr;
        margin-top: 2rem;
    }

    .about {
        justify-content: center;
        text-align: center;
    }

    .screenshots h2 {
        margin-left: 10px;
    }

    .download-links a {
        text-align: center;
        justify-content: center;
    }

    .download h2 {
        margin: 0;
    }

    .up-page {
        display: none;
    }

    .heading h2 {
        text-align: center;
        padding: 10px;
        justify-content: center;
    }

    .logo:hover,
    .logo:focus {
        transform: none;
    }

    .home {
        min-height: 240px;
    }

    .home-text {
        padding-right: 1rem;
    }

    p {
        font-size: 0.75rem;
    }
}
